/* style for side menu */
.sidemenu {
  height: 100%; /* menu is same height as page*/
  width: 0; /* width starts at 0 and is changed to 300 with javascript method in index.html */
  position: fixed; /* stays to left*/
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: antiquewhite; 
  overflow-x: hidden; /* Keeps menu hidden until mouse event */
  padding-top: 100px; 
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* menu links */
.sidemenu a {
  padding: 10px 10px 10px 30px;
  font-style: italic;
  font-family: fantasy;
  font-size: 30px;
  color: black;
  display: block;
  transition: 0.5s;
}

.sidemenu a:hover {
  color: gold;
}

/* Positioning the close button too the right of the menu */
.sidemenu .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

#mainPage {
  transition: margin-left 1s;
  padding: 20px;
}.header{
    text-align: center;
    padding: 20px;
    background-image: url(../images/shop.jpg);
}
.logo{
  text-align: left;

}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color:rgb(43, 34, 34);
}
.p1 {
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(71, 71, 161);
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dd:hover .dropbtn {
    background-color: rgb(211, 79, 79);
  }
  
  
  li.dd {
    display: inline-block;
  }
  
  .dd-content {
    display: none;
    position: absolute;
    background-color: rgb(71, 71, 161);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dd-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dd-content a:hover {background-color: rgb(211, 79, 79);}
  
  .dd:hover .dd-content {
    display: block;
  }
.h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.vid1{
    text-align: center;
}
.p2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
form{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
}
h2{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
table{
  width:100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}
tr:nth-child(even) {
  background-color: rgb(71, 71, 161);
}
